{% extends "layout.njk" %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 90vh;">
    <h1 class="mb-4">Search Address </h1>
    <input type="text" id="address-input" class="form-control w-50" placeholder="Search for an address..." autocomplete="off">
    <ul id="suggestions-list" class="list-group mt-2 w-50"></ul>
</div>
{% endblock %}