{% extends "layout.njk" %}

{% block title %}Home - Nutun Weather Application{% endblock %}

{% block content %}
    {% set slides = [
    { image: "/images/sun.jpeg", alt: "Sunrise", title: "Sunrise", description: weatherData.current.sunrise },
    { image: "/images/sunset.jpg", alt: "Sunset", title: "Sunset", description: weatherData.current.sunset },
    { image: "/images/sun.jpeg", alt: "Sun", title: "Feels like", description: weatherData.current.feels_like },
    { image: "/images/sunrise.jpg", alt: "Temperature", title: "Temperature", description: weatherData.current.temp }
] %}
{% include "carousel.njk" %}
{% endblock %}