#saveWeatherBtn {
    transition: background-color 0.3s, transform 0.3s;
}

#saveWeatherBtn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 0); }
    25% { transform: translate(-1px, 0); }
    50% { transform: translate(1px, 0); }
    75% { transform: translate(-1px, 0); }
    100% { transform: translate(0, 0); }
}

#address-input {
    border-radius: 25px;
}

#suggestions-list {
    max-height: 200px;
    overflow-y: auto;
}